.about-container {
  display: table;
  /* table-layout: fixed; */
  max-width: 800px;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media screen and (max-width: 700px) {
  .about-container {
    display: block;
    max-width: 800px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.about-container > .bio-text-container {
  display: table-cell;
  vertical-align: left;
  padding-left: 10px;
  padding-right: 30px;
  max-width: 400px;
}

@media screen and (max-width: 700px) {
  .about-container > .bio-text-container {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 50px;
    max-width: 400px;
  }
}

.about-container > .image-container {
  display: table-cell;
  vertical-align: middle;
  /* margin-left: 10px;
  margin-right: 10px;
  width: 100%; */
}

@media screen and (max-width: 700px) {
  .about-container > .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
  }
}

.bio-image {
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  border-radius: 2%;
}

@media screen and (max-width: 700px) {
  .bio-image {
    height: auto;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 2%;
  }
}