.nav-header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  text-align: center;
  z-index: 99999;
  background-color: #f1f0f0;
  border-radius: 30px;
  /* border-bottom: 1px solid #000000; */
}

.back-button {
  padding-top: 10px;
  display: block;
}

.post-title {
  border: none !important;
  margin-bottom: 0 !important;
}

.blog-post {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.blog-post-content {

}

.posts-container {
  max-width: inherit;
}

.posts-wide {
  display: inline-block;
}

.posts-tall {
  display: none;
}

@media screen and (max-width: 800px) {
  .posts-wide {
    display: none;
  }
  
  .posts-tall {
    display: block;
  }
}