@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,extra-bold,italic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,bold,italic');

:root {
  --header-bg-color: #019701;
  --content-bg-color: #ffffff;
  --footer-bg-color: #836539;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  font-family: 'Open Sans';
}

.banner {
  background-color: var(--header-bg-color);
  height: 100px;
}

.site-title-style {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 28pt;
  color: #ffffff;
  text-decoration: none;
}

.header-container {
  height: 100%;
  width: 100%;
  display: table;
  max-width: 850px;
  margin: auto;
}

.header-container > .header-left {
  display: table-cell;
  vertical-align: middle;
}

.header-container > .header-right {
  display: table-cell;
  vertical-align: middle;
  padding-top: 18px;
}

.github-head {
  display: inline;
  float: left;
  width: 20px;
  height: 20px;
}

.linkedin-head {
  display: inline;
  float: left;
  width: 20px;
  height: 20px;
}

.contentContainer {
  padding-top: 40px;
  max-width: 700px;
  margin: auto;
  clear: both;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  height: 5rem;
  width: 100%;
  background-color: var(--footer-bg-color);
  text-align: center;
}