@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,extra-bold,italic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,bold,italic');

:root {
  --accent-color: #019701;
  --accent-color-dark: #017e01;
  --content-bg-color: #ffffff;
  --content-bg-color-alt: #f1f1f1;
  --footer-bg-color: #d3cdb9;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  /* TODO - min-width */
  min-height: 100%;
  font-family: 'Open Sans';
}

.banner {
  min-height: 120px; /* 150px */
  max-height: 20%;
  /* background-color: var(--accent-color); */
  background-image: url("../images/penrose.png");
}

.site-title-style {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 24pt;
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}

.header-container {
  min-height: inherit;
  max-height: inherit;
  width: 100%;
  display: table;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.header-container > .header-left {
  display: table-cell;
  vertical-align: middle;
}

.header-container > .header-right {
  display: table-cell;
  vertical-align: middle;
}

.github-head {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.linkedin-head {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  height: 51px;
  scale: 90%;
}

.content-container {
  flex: 1;
  min-height: 400px;
  margin: auto;
  max-width: 800px;
  padding: 5px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 1%;
  /* background-color: #f1f0f0; */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  min-height: 80px;
  height: 10%;
  width: 100%;
  background-color: var(--footer-bg-color);
  text-align: center;
}