.page-link-link-inactive {
  color: #d3d3d3;
  font-weight: bold;
  text-decoration-line: none;
}

.page-link-link-active {
  color: white;
  font-weight: bold;
  text-decoration-line: none;
}

.link-container {
  display: inline;
  float: right;
  padding-left: 2rem;
  padding-right: 0;
  text-align: center;
}

.dot {
  display: block;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 50%;
}