.page-link-link {}

.link-container {
  display: inline;
  float: right;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.dot {
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  height: 7px;
  width: 7px;
  background-color: white;
  border-radius: 50%;
}