.post-card-container {
  height: auto;
  min-height: 100px;
  padding-bottom: 0px;
  margin-bottom: 40px;
  color: black;
}

.post-card {
  display: table-row;
}

.background {
  display: inline-block;
  height: 100%;
  background-color: #f1f0f0;
  border-radius: 30px;
}

.post-image {
  float: left;
  height: 100%;
  width: 35%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.post-card-text {
  float: left;
  max-width: 60%;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 0px;
  white-space: normal;
}

.post-title {
  text-decoration-line: none;
  font-size: 18pt;
  font-weight: bold;
}

.post-description {
  padding-top: 6px;
}