.project-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  max-width: inherit;
}

@media screen and (max-width: 800px) {
  .project-container {
    margin-left: auto;
    margin-right: auto;
    display: inline;
  }
}